.Work {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    color: white;
}
  
.Work-header {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    color: white;
    z-index: 2;
}

/* Home Job Section */
.Work-screen {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    color: white;
    z-index: 2;
  }
  
  .Work-logo {
    max-width: 300px;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .Work-container {
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  
  .Work-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .Work-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tag {
    background-color: #a4a4a4b4;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .Work-description {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto 25px;
    max-width: 600px;
  }
  
  .Work-hyperlink {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .Work-hyperlink:hover {
    text-decoration: underline;
  }
  