.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1.5%;
    width: 100%;
    position: absolute;
    top: 0;
}
  
.nav-left {
    flex: 1;
    font-family: 'Georgia, serif';
    font-weight: bold;
    font-size: 22px;
}

.navbar-links {
    display: flex;
    font-family: 'serif';
    font-size: 18px;
    gap: 1%;
    padding-right: 5%;
    align-items: center;
}

.navbar .nav-left a, .navbar .navbar-links a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    text-decoration: underline; /* or none, or color change */
}